<h2><i class="fas fa-user m-r-10"></i> Board Details</h2>
<div class="board-list-item" *ngIf="board">
  <div class="board-tile">
    <div class="board-tile-details">
      <div>
        <span class="board-tile-details-name"><b>{{board.name | uppercase}}</b> Details</span>
      </div>
      <div><span>ID: </span>{{board.id}}</div>
      <div>
        <label>
          Name: <input [(ngModel)]="board.name" placeholder="Name">
        </label>
      </div>
    </div>
  </div>
</div>

<button class="back-btn" (click)="goBack()">Back</button>
