<h2><i class="fas fa-user m-r-10"></i> Boards</h2>
<ul class="board-list">
  <li class="board-list-item" *ngFor="let board of boards">
    <div class="board-tile">
      <div class="board-tile-details">
        <div class="board-tile-details-name">{{board.name}}</div>
      </div>
      <button class="add-btn-white" (click)="deleteBoard(board);"><span class="fas fa-trash"></span></button>
    </div>
  </li>
  <li class="board-list-item">
    <div class="board-tile mod-add">
      <div class="board-tile-details-name">Board Name:</div>
      <input class="add-board-input" #boardName />
      <button class="add-btn" (click)="addBoard(boardName.value); boardName.value=''">Add</button>
    </div>
  </li>
</ul>
