h2 {
  color: #454545;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

mat-card {
  cursor: pointer;
}

div.mat-card-header-text {
    margin: 0 0 !important;
}

.board-card {
  max-width: 250px;
}

.m-r-10 {
  margin-right: 10px;
}
