<h2><i class="fas fa-user m-r-10"></i> Boards</h2>
<mat-grid-list cols="5" rowHeight="4:3">
  <mat-grid-tile *ngFor="let board of boards">
    <mat-card class="board-card" routerLink="/b/{{board._id}}">
      <mat-card-header>
        <mat-card-title>{{board.name}}</mat-card-title>
        <mat-card-subtitle>{{board._id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field *ngIf="editingBoard == board">
          <input matInput [(ngModel)]="board.name" (click)="$event.stopPropagation();" (keyup.enter)="updateBoard(board); editingBoard = null;" placeholder="New Name" value="">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="m-r-10" (click)="editBoard(board); $event.stopPropagation();"><span class="fas fa-edit"></span></button>
        <button mat-flat-button color="primary" (click)="deleteBoard(board); $event.stopPropagation();"><span class="fas fa-trash"></span></button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="board-card">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Board Name" value="" #boardName>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="addBoard(boardName.value); boardName.value=''">Add</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
