/* You can add global styles to this file, and also import other style files */
@import '@material/layout-grid/dist/mdc.layout-grid.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
	background-color: #D5D5D5;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0 !important;
}

#app {
	margin: 8px;
}
