h2 {
  color: #454545;
}

.boards {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.boards li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  left: 0;
  background-color: #C5C5C5;
  margin: .5em;
  padding: .3em 0;
  height: 5em;
  width: 15em;
  border-radius: 5px;
  text-align: center;
}

.selectedBoard {
  font-size: 1.25em;
  position: relative;
  display: inline-block;
  left: 0;
  background-color: #C5C5C5;
  margin: .5em;
  padding: .3em 0;
  height: 5em;
  width: 20em;
  border-radius: 5px;
  text-align: center;
}

.boardName {
  font-size: 1.25em;
}

.selected {
  background-color: #9099A2 !important;
  color: white;
}

.alignCenter {
  text-align: center;
}
