h2 {
  color: #454545;
}

.alignCenter {
  text-align: center;
}

.noMargin {
  margin: 0;
}

.board {
  width: 18rem;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 0.5rem
}
